$colors: (
    purple: "#6c2a6a",
    black: "#1a1a1a",
    white: "#ffffff",
    gray: "#454545",
    light-gray: "#707070",
    white-transparent: "#ffffffaa",
);

$sizes: (
    sm: 0.75rem,
    md: 1rem,
    lg: 1.72rem,
    xl: 2rem,
    2xl: 3rem,
    3xl: 4rem,
    4xl: 8rem,
    10xl: 14rem,
);
