html {
    font-size: 20px;
}

body {
    font-size: 30px;
}

div {
    font-size: 2em;
}

.div1 {
    background: red;
}

.div2 {
    background: green;
}

.div3 {
    background: blue;
}

.div4 {
    background: yellow;
    font-size: 2rem;
}
