@use "../abstracts/variables";

:root {
    @each $name, $value in variables.$colors {
        --#{$name}: #{$value};
    }

    @each $size, $value in variables.$sizes {
        --size-#{$size}: #{$value};
    }
}
