/* TODO(srvariable): Reorganise everything */

.clear {
    float: none;
}

* {
    box-sizing: border-box;
}

#cabecera {
    padding: 1em;
    float: left;
    width: 100%;
    
    #logo {
        float: left;
        color: #e4a980;
    }

    #buscador {
        float: right;
        margin-top: 2em;
    }
}

#menu {
    padding: 0.5em;
    margin-bottom: 0.5em;
    float: left;
    width: 100%;
    
    #menu_principal {
        float: left;

        li {
            text-decoration: none;
            display: inline;
        }
    }
}

#lateral {
    float: left;
    width: 15%;
}

#principal {
    float: left;
    width: 70%;
}

#secundario {
    float: right;
    width: 15%;
}

#noticias, #publicidad, #principal, #secundario {
    padding: 0.5em;
}

#pie {
    float: left;
    padding: 0.5em 0;
}

.articulo {
    margin: 0 0.5em;

    img {
        margin: 0.5em;
        float: left;
    }
}

#publicidad {
    margin-top: 1em;
}

#pie {
    margin-top: 1em;
}

* {
    border: none;
}

#menu {
    border-bottom: 1px solid #004C99;
}

#noticias {
    border: 1px solid #C5C5C5;
}

#publicidad {
    border: 1px dashed #CC6600;
}

#secundario {
    border: 1px solid #CC6600;
}

#pie {
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
}

#noticias, #pie {
    background: #F8F8F8;
}

#publicidad {
    background: #FFF6CD;
}

#secundario {
    h2 {
        background: #DB905C;
        padding: 0.2em;
    }
}

#menu {
    background: url("./imagen.png");
}

#pie {
    float: left;
    width: 100%;
}

.enlaces {
    float: left;
}

.copyright {
    float: right;
}

